.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app .view-block {
  width: 100vw;
  height: 50vh;
  background-color: aquamarine;
}
.app .view-block .site-view {
  width: 100%;
  height: 100%;
}
.app .view-block .site-view .iframe-view {
  width: 100%;
  height: 100%;
}
.app .control-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}
.app .control-block .style-selector {
  width: 50vw;
  background-color: aqua;
  padding-top: 40px;
}
.app .control-block .style-selector .style-selector-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app .control-block .output-area {
  padding-top: 40px;
  width: 50vw;
  background-color: #8eeb63;
}
